{% load static %}
<!DOCTYPE html>
{% load cart_template_tags %}
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Site Metas -->
    <title>Eshop-Sami'e Eshop</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    
   
   


    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Start Main Top -->
    
    <!-- End Main Top -->

    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" class="logo" alt=""></a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                        <li class="nav-item active"><a class="nav-link" href="{% url 'about' %}">About Us</a></li>
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">SHOP</a>
                            <ul class="dropdown-menu">
								<li><a href="{% url 'products' %}">Sidebar Shop</a></li>
                                 {% for item in items %} 
								<li><a href="{% url 'product_detail' item.slug  %}">Shop Detail</a></li>
                                {% endfor %}
                                <li><a href="{% url 'order_summery' %}">Cart</a></li>
                                <li><a href="{% url 'checkout' %}">Checkout</a></li>
                                <li><a href="{% url 'my_account' %}">My Account</a></li>
                                 {% for item in items %}
                                <li><a href="{% url 'add_to_wishlist' item.slug %}">Wishlist</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'gallery' %}">Gallery</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact Us</a></li>
                       
                        
                        
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                        <li class="side-menu"><a href="#">
                            {% if request.user.is_authenticated  %}
						<i class="fa fa-shopping-bag"></i>
                            <span class="badge">{{ request.user|cart_item_count }}</span>
							<p>My Cart</p>
					</a></li>
                    <li class="nav-item"><a class="nav-link"  href="{% url 'logout' %}">logout</a></li>
                    {% else %}
                     <li class="nav-item ">
                            <select id="basic" class="selectpicker show-tick form-control" data-placeholder="Sign In" onchange="redirect(this)">
                            <option value="{% url 'register' %}">Register Here</option>
                            <option value="{% url 'login' %}">Sign In</option>
                            <option value="{% url 'my_account' %}">My Account</option>
                            </select>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- End Atribute Navigation -->
            </div>
            <!-- Start Side Menu -->
            <script>
        function redirect(selectElement) {
        var selectedValue = selectElement.value;
        if (selectedValue !== " ") {
            window.location.href = selectedValue;
        }
    }
</script>
            <div class="side">
                <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                <li class="cart-box">
                    <ul class="cart-list">
                        <li>
                            <a href="#" class="photo"><img src="{% static 'images/img-pro-01.jpg' %}" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Delica omtantur </a></h6>
                            <p>1x - <span class="price">$80.00</span></p>
                        </li>
                        <li>
                            <a href="#" class="photo"><img src="{% static 'images/img-pro-02.jpg' %}" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Omnes ocurreret</a></h6>
                            <p>1x - <span class="price">$60.00</span></p>
                        </li>
                        <li>
                            <a href="#" class="photo"><img src="{% static 'images/img-pro-03.jpg' %}" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Agam facilisis</a></h6>
                            <p>1x - <span class="price">$40.00</span></p>
                        </li>
                        <li class="total">
                            <a href="{% url 'order_summery' %}" class="btn btn-default hvr-hover btn-cart">VIEW CART</a>
                            <span class="float-right"><strong>Total</strong>: $180.00</span>
                        </li>
                    </ul>
                </li>
            </div>
            <!-- End Side Menu -->
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>ABOUT US</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">ABOUT US</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="table-responsive text-nowrap">
        <div class="container">
        <div class="col-xl-7 col-lg-7 col-md-6">
                      <div>
                    {% if messages %}
                    {% for message in messages %}
                <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                  <strong> {{ message }} </strong>
                   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endif %}
            </div>     
		<h2>Order Summery </h2>		
    <table class="table caption-top">
  
  <thead>
    <tr>
        <th scope="col">#</th>
      <th scope="col">Item Title</th>
      <th scope="col">Price</th>
      <th scope="col">Discount Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total Item Price</th>
    </tr>
  </thead>
  <tbody>
    {% for order_item in object.items.all %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ order_item.item.title }}</td>
      <td>{{ order_item.item.price }}</td>
      <td>{{ order_item.item.discount_price }}</td>
      <td>{{ order_item.quantity }}</td>
      <td>
        {% if order_item.item.discount_price %}
        {{order_item.get_total_item_discount_price}}
        (Saving {{order_item.get_total_saved_price}})
        {% else %}
        {{order_item.get_total_item_price}}
        {% endif %}
         <a style="color:red;" href="{% url 'remove_single_item_from_cart' order_item.item.slug  %}">
         <i class="fas fa-trash ml-4"></i></a>
      </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="6">
            Your cart is empty
         <a class="btn btn-primary float-right ml-4" href="/ "> continue Shoping </a></td>
    </tr>
    {% endfor %}
    {% if object.coupon %}
     <tr>
        <td colspan="5"><b>Coupon</b></td>
        
        <td><b>-$ {{object.coupon.amount}}</b></td>

    </tr>
         {% endif%}
    {% if object.get_total %}
    <tr>
        <td colspan="5"><b>Order Total</b></td>
        
        <td><b>{{object.get_total}}</b></td>

    </tr>
    <tr>
     <td colspan="6"></td>
    <td> <span >
            <a class="btn btn-warning mr-2" href="{% url 'checkout' %}">proceed to Checkout</a>
             <a class="btn btn-primary" href="/ "> continue Shoping </a>
                
            </span>
        </td>
    </tr>
    {% endif %}
   
    
  </tbody>
</table>
</div>
</div>              
</div>             
    <!-- End Instagram Feed  -->


    <!-- Start Footer  -->
    <footer>
        <div class="footer-main">
            <div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="footer-top-box">
							<h3>Work Time</h3>
							<ul class="list-time">
								<li>Monday - Friday: 12.00am to 12.00pm</li> <li>Saturday: 10.00am to 08.00pm</li> <li>Sunday: <span>Closed</span></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="footer-top-box">
							<h3>Newsletter</h3>
							<form action="{% url 'subscribe' %}"  class="newsletter-box" method="POST">
                                 {% csrf_token %}
								<div class="form-group">
									<input class="" type="email" name="email" placeholder="Email Address*" />
									<i class="fa fa-envelope"></i>
								</div>
								<button class="btn hvr-hover" type="submit">Submit</button>
							</form>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="footer-top-box">
							<h3>Social Media</h3>
							<p>For more information and other services contact us on our social media.</p>
							<ul>
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                            </ul>
						</div>
					</div>
				</div>
				<hr>
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>About Eshop</h4>
                            <p>Sami's Eshop is one of the most well known online shoping in Ethiopia it give different service by being where you are you can get what you want just use my system</p>  							
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link">
                            <h4>Information</h4>
                            <ul>
                                <li><a href="{% url 'about' %}">About Us</a></li>
                                <li><a href="#">Customer Service</a></li>
                                <li><a href="#">Our Sitemap</a></li>
                                <li><a href="#">Terms &amp; Conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Delivery Information</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>Contact Us</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>Address: Ethiopia<br>Oromia,<br> Jimma City</p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:+251996826264">+251996826264</a></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i>Email: <a href="mailto:mokesami09@gmail.com">mokesami09@gmail.com</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer  -->

    <!-- Start copyright  -->
    <div class="footer-copyright">
        <p class="footer-company">All Rights Reserved. &copy; 2023 <a href="#">Eshop</a> Design By :
            <a href="https://html.design/">sami design</a></p>
    </div>
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'js/jquery.superslides.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.js' %}"></script>
    <script src="{% static 'js/inewsticker.js' %}"></script>
    <script src="{% static 'js/bootsnav.js.' %}"></script>
    <script src="{% static 'js/images-loded.min.js' %}"></script>
    <script src="{% static 'js/isotope.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/baguetteBox.min.js' %}"></script>
    <script src="{% static 'js/form-validator.min.js' %}"></script>
    <script src="{% static 'js/contact-form-script.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script >
        
// Get the <select> element
var selectElement = document.getElementById('basic');

// Add event listener to detect option selection
selectElement.addEventListener('change', function() {
    // Get the selected option value
    var selectedValue = selectElement.value;
    
    // Redirect to the selected URL
    window.location.href = selectedValue;
});


    </script>
</body>

</html>